*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #1a0b24; 
}

.card {
    width: 80%;
    max-width: 400px;
    background: linear-gradient(135deg, #4b006e, #8e2de2);
    padding: 40px 35px;
    margin: 100px auto;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.5);
    backdrop-filter: blur(6px);
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: rgba(255,255,255,0.15);
    color: #fff;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: rgba(255,255,255,0.15);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.search button img{
    width: 25px;
    filter: invert(100%);
}


.weather-icon{
    width: 170px;
    margin-top: 30px;
} 

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 50px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}